<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>趣宝宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{MOBI_PATH}/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="{MOBI_PATH}/public/css/style.css">
</head>

<body>
<!--视频广告/图片广告+宝宝信息-->
<section class="index-video">

    <!--有设备 - 视频广告-->
        <div class="index-video-ready hidden">
            <i onclick="setClick('topVideo')" class="glyphicon glyphicon-play-circle"></i>
            <a href="#"><img src="{MOBI_PATH}/public/images/min/index_1.jpg"></a>
        </div>
    <!--无设备 - 轮播广告-->
        <div id="slideBox-top" class="slideBox hidden">
            <div class="bd">
                <ul>
                </ul>
            </div>
            <div class="hd">
                <ul></ul>
            </div>
        </div>

    <div class="home-icon"><i class="qbbicons icon-homegroup"></i></div>

    <div class="index-baby">
            <!--有宝宝-->
            <div class="index-baby-left is_entity">
                <div class="index-baby-img pull-left">
                    <img src="{MOBI_PATH}/public/images/avatar.jpg" class="img-circle" onerror="this.src='{MOBI_PATH}/public/images/avatar.jpg'">
                </div>
                <div class="index-baby-old pull-left">
                    <span></span>
                </div>
            </div>
            <div class="index-baby-attr">
                <span>星座：<font class="attr-xz"></font></span>
                <span>血型：<font class="attr-xx"></font></span>
                <span>属相：<font class="attr-sx"></font></span>
            </div>
            <!--无宝宝-->
            <div class="index-baby-left not_entity">
                <div class="index-baby-img pull-left">
                    <img src="{MOBI_PATH}/public/images/avatar.jpg" class="img-circle" onerror="this.src='{MOBI_PATH}/public/images/avatar.jpg'">
                </div>
                <div class="index-baby-old pull-left">
                    <span>宝宝未出生</span>
                </div>
            </div>
    </div>

</section>
<!--成长指标-->
<section class="index-indicator J_indicate" data-bind = "0">
    <div>
        <!--有设备-->
            <ul class="czzb-cam hidden">
                <li class="index-indicator-left text-center"><font>成长指标</font><h3>正常</h3></li>
                <li class="index-indicator-middle">
                    <p>设备绑定成功，正在贴心守护宝宝健康成长</p>
                </li>
                <!--  http://dev.qbb.qiwocloud1.com/v1/helper/index.php?s=mobi&c=babydata&a=heartbeat -->
                <li class="index-indicator-right"><a href="#" onclick="setClick('deviceData','成长指标')" data-title="成长指标" >查看详情 </a></li>
            </ul>
        <!--无设备-->
            <ul class="czzb-nocam hidden">
                <li class="index-indicator-left text-center"><font>成长指标</font><h3 class="grey">未绑定</h3></li>
                <li class="index-indicator-middle"><p>做更优秀的父母，趣宝宝智能守护套件</p></li>
                <!-- http://www.qbb.net/appforapp.html -->
                <li class="index-indicator-right"><a href="#" onclick="setClick('viewProduct','产品介绍','http://www.qbb.net/appforapp.html')">产品介绍 </a></li>
            </ul>
        <div class="clearfix"></div>
    </div>
</section>


<!--有设备 - 轮播广告-->
<section class="slideSec hidden">
    <div id="slideBox" class="slideBox">
        <div class="bd">
            <ul>
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>
</section>

<!--有宝宝 - 重要提醒-->
<section class="zytx hidden">
    <div class="container index-con">
        <div class="index-tit">
            <a href="javascript:;" onclick="setClick('vaccineRemind','提醒')" class="pull-right">
                <i class="glyphicon glyphicon-menu-right pull-right"></i>更多</a>
            <span><i class="qbbicons icon-forgot"></i>重要事别忘了</span>
        </div>
        <div class="index-list index-forgot J_remind">
            <ul><!-- 网页 http://dev.qbb.qiwocloud1.com/v1/helper/content/content.php?id=213 -->
            </ul>
        </div>
    </div>
</section>

<!--有宝宝 - 今日要点-->
<section class="jryd hidden">
    <div class="container index-con">
        <div class="index-tit">
            <!-- JSON http://dev.qbb.qiwocloud1.com/v1/helper/api.php?c=helper&a=getlist&catid=20&week=14 -->
            <!-- 网页 http://dev.qbb.qiwocloud1.com/v1/helper/index.php?c=content&a=show&id=380 -->
            <a href="javascript:;" data-id="" class="pull-right">
                <i class="glyphicon glyphicon-menu-right pull-right"></i>更多</a>
            <span><i class="qbbicons icon-nurse"></i>今日护理要点</span>
        </div>
        <div class="index-list index-nurse">
            <p></p>
        </div>
    </div>
</section>

<section>
    <div class="container index-con ">
        <div class="index-list index-general J_helper">
            <ul>
                <!--  http://dev.qbb.qiwocloud1.com/v1/helper/index.php?s=mobi&c=helper&a=list&type_id=1-->
                <li class="col-xs-4"><div class="index-general-1" >
                    <a href="{url('mobi/helper/list',array('type_id'=>1))}" data-title="吃喝专题">吃喝</a></div></li>
                <li class="col-xs-4"><div class="index-general-2" >
                    <a href="{url('mobi/helper/list',array('type_id'=>2))}" data-title="便便专题">便便</a></div></li>
                <li class="col-xs-4"><div class="index-general-3" >
                    <a href="{url('mobi/helper/list',array('type_id'=>3))}" data-title="睡眠专题">睡眠</a></div></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--  http://dev.qbb.qiwocloud1.com/v1/helper/index.php?s=mobi&c=helper&a=index-->
        <div class="index-general-more"  onclick="setClick('mixKnowledges','助手')">
            <a href="#">查看更多</a></div>
    </div>
</section>

<!--无接口 - 推荐专栏-->
<!--<section>
    <div class="container index-con">
        <div class="index-tit">
            <a href="javascript:;" class="pull-right"><i class="glyphicon glyphicon-menu-right pull-right"></i>更多</a>
            <span><i class="qbbicons icon-doc"></i>专家专栏</span>
        </div>
        <div class="index-list index-doc">
            <a href="javascript:;">
                <div class="index-doc-pic pull-left"><img src="{MOBI_PATH}/public/images/img-test-4.jpg"></div>
                <div class="index-doc-con pull-left">
                    <p class="index-doc-con-1">自然分娩你准备好了吗？</p>
                    <p class="index-doc-con-2">妇产科专家：严楚</p>
                    <p class="index-doc-con-3">深圳第二人民医院主任医师</p>
                </div>
            </a>
        </div>
    </div>
</section>-->

<!--用品清单-->
<section>
    <div class="container index-con ">
        <div class="index-tit J_topic">
            <!-- http://dev.qbb.qiwocloud1.com/v1/helper/index.php?s=mobi&c=topic&a=index -->
            <a href="{url('mobi/supply/index')}" data-title="用品清单" class="pull-right">
                <i class="glyphicon glyphicon-menu-right pull-right"></i>更多</a>
            <span>
                <i class="qbbicons icon-uselist"></i>用品清单</span>
        </div>
        <div class="index-list index-uselist">

        </div>
    </div>
</section>

<!--推荐看看-->
<section>
    <div class="container index-con index-con-see">
        <div class="index-tit">
            <p class="index-see-count pull-right"></p>
            <span>
                <i class="qbbicons icon-see"></i>看看</span>
        </div>
        <div class="index-list index-see">
            <div id="slideBox-see" class="slideBox">
                <div class="bd">
                    <ul>
                    </ul>
                </div>
                <div class="hd">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container index-con index-con-see J_tryout">
        <div class="index-tit">
            <span><i class="qbbicons icon-try"></i>试用</span>
            <a href="javascript:;" onclick="setClick('hotTryout','试用','')" class="pull-right">
                <i class="glyphicon glyphicon-menu-right pull-right"></i>更多</a>
        </div>
        <div class="container index-con-try J_tryout2">
            <!-- https://dev.bbc.qiwocloud1.com/bbc_tryout/v1/view/intromain?tryOutDetailId=1 -->
<!--            <a href="#" data-title="免费试用">
                <img alt="{$tryoutData['activeName']}" src="{$tryoutData['tryOutDetailImg']}">
            </a>-->
        </div>
    </div>
</section>


<!--无接口 - 推荐商品-->
<!--<section class="mb10">
    <div class="container index-con">
        <div class="index-tit">
            <a href="javascript:;" class="pull-right"><i class="glyphicon glyphicon-menu-right pull-right"></i>更多</a>
            <span><i class="qbbicons icon-shop"></i>商城</span>
        </div>
        <div class="index-list index-shop">
            <ul>
                <li class="col-xs-6">
                    <a href="">
                        <img src="/public/images/img-test-8.jpg">
                        <h4>宝宝精选个月食物选</h4>
                        <span>韩国直供洪州发货</span>
                        <p>￥69.00<em>7折</em></p>
                        <span>国内参考价<del>￥269.00</del></span>
                    </a>
                </li>
                <li class="col-xs-6">
                    <a href="">
                        <img src="/public/images/img-test-9.jpg">
                        <h4>宝宝精选个月食物选</h4>
                        <span>韩国直供洪州发货</span>
                        <p>￥69.00<em>7折</em></p>
                        <span>国内参考价<del>￥269.00</del></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>-->


<script src="{MOBI_PATH}/public/js/jquery.min.js"></script>
<script src="{MOBI_PATH}/public/js/TouchSlide.1.1.js"></script>
<script src="{MOBI_PATH}/public/js/MSClass.js"></script>
<script src="{MOBI_PATH}/public/js/main.js"></script>
<script type="text/javascript">
    setEvent('.J_helper,.J_tryout2,.index-uselist');
    setSupply('.J_topic');

        $.getJSON("{url('mobi/index/getbindCamera')}", function (json) {
            if (json.code) {
                var html = "";
                list = json.data;
                $('.index-indicator').attr('data-bind', list);
                if (list == 1) {
                    $('.index-video-ready').removeClass('hidden');
                    $('.czzb-cam').removeClass('hidden');
                    $('.slideSec').removeClass('hidden');
                    
                    $.getJSON("{url('mobi/index/getadvertData')}", function (json) {
                        if (json.code) {
                            var html = "";
                            var list = json.data;
                            var setClick = "";
                            if (list.length > 0) {
                                for (var i = 0; i < list.length; i++) {
                                    if( (list[i].picurl) && (list[i].picurl).indexOf('bbc_tryout') > -1){                                   
                                        setClick = "setClick(\'hotTryout\',\'试用\',\'\')";
                                    }else{
                                        setClick = "setClick(\'advertList\',\'\',\'" +  list[i].picurl +"\')";
                                    }
                                    html += '<li><a class="pic" href="javascript:;" onclick="setClick(\'advertList\',\'\',\'' + list[i].picurl + '\')" ><img src="' + list[i].thumb + '" /></a></li>';
                                }
                            }
                            $("#slideBox .bd ul").html(html);
                            if (list.length > 0) {
                                // 焦点图
                                TouchSlide({
                                    slideCell: "#slideBox",
                                    titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                                    mainCell: ".bd ul",
                                    effect: "leftLoop",
                                    autoPlay:true,
                                    autoPage: true //自动分页
                                });
                            }
                        }
                    });
                    
                } else {
                    $('#slideBox-top').removeClass('hidden');
                    $('.czzb-nocam').removeClass('hidden');
                    
                    $.getJSON("{url('mobi/index/getadvertData')}", function (json) {
                        if (json.code) {
                            var html = "";
                            var list = json.data;
                            var setClick = "";
                            if (list.length > 0) {
                                for (var i = 0; i < list.length; i++) {                                    
                                    if((list[i].picurl) && (list[i].picurl).indexOf('bbc_tryout') > -1){                                   
                                        setClick = "setClick(\'hotTryout\',\'试用\',\'\')";
                                    }else{
                                        setClick = "setClick(\'advertList\',\'\',\'" +  list[i].picurl +"\')";
                                    }
                                    html += '<li><a class="pic" href="javascript:;" onclick= '+ setClick + ' ><img src="' + list[i].thumb + '" /></a></li>';
                                }
                            }
                            $("#slideBox-top .bd ul").html(html);
                            if (list.length > 0) {
                                // 无宝宝时，顶部轮换图
                                TouchSlide({
                                    slideCell: "#slideBox-top",
                                    titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                                    mainCell: ".bd ul",
                                    effect: "leftLoop",
                                    autoPlay:true,
                                    autoPage: true //自动分页
                                });
                            }
                        }
                    });
                }
            }
        });

        $.getJSON("{url('mobi/index/getWeek')}", function (json) {
            if (json.code) {
                var html = "";
                var list = json.data;
                if (list) {
                    var thisobj = $('.jryd .index-tit a');
                    thisobj.attr("data-id", list);
                    thisobj.click(function () {
                        setClick('keyPoints','本周关注要点',list);
                    })
                }
            }
        });
        
        $.getJSON("{url('mobi/index/getEntityData')}", function (json) {
            if (json.code) {
                var html = "";
                var list = json.data;
                if (list.flag == 1) {
                    $('.is_entity').removeClass('hidden');
                    $('.zytx, .jryd').removeClass('hidden');
                    
                    if (list["growup"]["y"]) { html += list["growup"]["y"] + '岁'; }
                    if (list["growup"]["m"]) { html += list["growup"]["m"] + '个月'; }
                    if (list["growup"]["d"]) { html += list["growup"]["d"] + '天'; }
                    $('.index-baby-img img').attr('src', list.avatar)
                    $('.index-baby-old span').html(html);
                    $('.attr-xz').html(list.zodiac);
                    $('.attr-xx').html(list.blood_type);
                    $('.attr-sx').html(list.animal);
                } else {
                    $('.not_entity').removeClass('hidden');
                }
            }
        });

        /**实时数据**/
        var bind = $('.index-indicator').data('bind');
        if (bind) {
            var anomalies_url = "{url('mobi/index/anomalies')}";
            setInterval(function () {
                $.getJSON(anomalies_url, function (json) {
                    console.log(json.data);
                    var list = json.data,html ="";
                    if (json.code == 1) { //异步成功
                        var len = list.length;
                        if(len>0){
                            $('.index-indicator-left h3').html('异常');
                            var div_id = "marquee" + Math.floor(Math.random()*1000)
                            html += '<div id="'+div_id+'"><ul id="marqueeul">';
                            for(var i=0; i<len; i++){
                                html+= "<li><p>"+list[i]+"</p></li>";
                            }
                            html += '</ul></div>';
                            $('.index-indicator-middle').html(html);
                            new Marquee([div_id,"marqueeul"],0,1,"100%",50,20,4000,2000);
                        }else{
                            $('.index-indicator-left h3').html('正常');
                            $('.index-indicator-middle').html("<p>设备绑定成功，正在贴心守护宝宝健康成长</p>");
                        }
                    } else if (json.code == 0) { //异步失败
                        $('.index-indicator-middle').html("<p>网络请求超时</p>");
                    }
                });
            }, 300000);
        }
        /**成长指标**/

        /**疫苗提醒**/
        sso();
        var url_vaccine = "/v1/helper/content/content.php?id=";
        var iii = 0;
        function sso() {
            $.getJSON("{url('mobi/index/event')}", function (json) {
                iii++;
                if (json.code) {
                    var html = "";          
                    list = json.data;
                    for (var i = 0; i < list.length; i++) {
                        var day = "";
                        var title = "";   
                        var href = ' href="javascript:;"';
                        var onclick = "";
                        if(list[i].event_id){                            
                            title = "提醒";  
                            onclick = "setClick('event','提醒详情','"+list[i].event_id+"')";
                        }else if(list[i].catid){                           
                            if(list[i].catid == 18){
                                title = "疫苗";  
                            }else if(list[i].catid == 19){
                                title = "体检";  
                            }
                            onclick = "setClick('href','"+title+"详情','"+url_vaccine+list[i].vaccine_id+"')";
                        }
                        if(list[i].near_time > 0){
                            day = '还有<em>' + list[i].near_time + '</em>天';
                        }else {
                            day = '<em style="font-size:14px">今天</em>';
                        }
                        html += '<li ><span class="pull-right"><i class="glyphicon glyphicon-menu-right pull-right"></i>' +
                                day +'</span>'+                
                        '<a data-title="'+ title +'详情"'+ href +' onclick='+ onclick +'><p>' + list[i]["content"] + '</p>' + list[i]["time"] + '</a>' +
                        '</li>';
                    }
                    $('.index-forgot ul').html(html);
                } else {
                    iii < 3 && sso();
                }
            });
        }
        /**今日要点**/
        $.getJSON("{url('mobi/index/daily')}", function (json) {
            if (json.code) {                
                list = json.data;
                $('.index-nurse p').html(list['content']);
            }
        });

        /****/
        /**用品专题**/
        var url_supply = "{url('mobi/topic/view')}"+"&id=";
        $.getJSON("{url('mobi/index/supply')}", function (json) {
            if (json.code) {
                var html = "";
                list = json.data;
                for (var i = 0; i < list.length; i++) {
                    html += '<a href="' + url_supply + list[i].id + '" data-title="用品专题">' +
                    '<img src="' + list[i].thumb + '">' +
                    '<p>' + list[i].title + '</p>' +
                    '</a>';
                }
                $('.index-uselist').html(html);
            }
        });

        /**推荐看看**/
        $.getJSON("{url('mobi/index/diary')}", function (json) {
            if (json.code) {
                var html = "";
                list = json.data;
                for (var i = 0; i < list.length; i++) {
                    html += '<li><a class="pic" href="#" onclick="setClick(\'diaryRecently\',\'看看\',\'' + list[i].d_id + '\',\'' + list[i].baby_id + '\')">' +
                    '<img src="' + list[i]["d_thumb_url"] + '" /></a>' +
                    '<a class="tit" href="#"><div class="pull-right">' +
                    '<span class="pull-left"><i class="qbbicons icon-hits"></i>' + list[i]["d_comment_num"] + '</span>' +
                    '<span class="pull-left"><i class="qbbicons icon-heart"></i>' + list[i]["d_praise_num"] + '</span>' +
                    '</div></a></li>';
                }
//                console.log(html);
                $('.index-see .bd ul').html(html);

                // 看看
                TouchSlide({
                    slideCell: "#slideBox-see",
                    titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                    mainCell: ".bd ul",
                    effect: "leftLoop",
                    autoPlay:true,
                    autoPage: true, //自动分页
                    endFun: function () {
                        var see_total = $("#slideBox-see .bd").find("li").size() - 2;
                        var see_cur = $("#slideBox-see .hd").find(".on").html();
                        $(".index-see-count").html("<em>" + see_cur + "</em> / " + see_total);
                    }
                });
            }
        });
        /**推荐试用**/
        var url_tryout = "{$url_bbc}/bbc_tryout/v1/view/intromain?tryOutDetailId=";
        $.getJSON("{url('mobi/index/tryout')}", function (json) {            
            if (json.data) {
                var html = "";
                list = json.data;                
                for (var i = 0; i < list.length; i++) {
                    html = '<a href="'+ url_tryout + list[i].tryOutDetailId + '" data-title="免费试用">' +
                    '<img alt="' + list[i].activeName + '" src="' + list[i].tryOutDetailImg + '">' +
                    '</a>';
                }
//                console.log(html);
                $('.index-con-try').html(html);
            }
        });

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var thisurl = window.location.href;
        if (thisurl.indexOf('dev.') > -1) {
            var domain = 'https://dev.bbc.qiwocloud1.com';
        } else if (thisurl.indexOf('test.') > -1) {
            var domain = 'https://test.bbc.qiwocloud1.com';
        } else {
            var domain = 'https://bbc.qiwocloud1.com';
        }

        $(function () {
            var url = domain + '/entity/v1/OnlineTime/getUserOnlineTop';
            var token = getQueryString("token");
            var uid = getQueryString("uid");
            var entity_id = getQueryString("entity_id");

            $.ajax({
                type: "POST",
                url: url,                
                data: {token: token, uid: uid, entity_id: entity_id},
                success: function (data) {
                    var mainwidth = $(window).width();
                    var fullwidth = $(window).width() * 0.06;
                    if (data['data']) {
                        if (data['data'][entity_id]) {
                            data = data['data'][entity_id];
//                            console.log(data_length);
                            var data_length = getPropertyCount(data);
                            -- data_length; 
                            if (data_length > 0) {
                                if (data_length > 1) {
                                    var listcon = '<div class="online-time"><ul>';
                                    var thetop = '';
                                    var persent = 0;
                                    for (var i = 0; i < data_length; i++) {
                                        if (i < 3) {
                                            if (i == 0) {
                                                thetop = '<i class="icon-topone"></i>';
                                                persent = 100;
                                            } else {
                                                thetop = '';
                                                persent = data[i]['online'];
                                            }
                                            listcon += '<li>\
                                                        <a href="javascript:;" onclick="setClick(\'onlinetime\', \'在线时长\')">\
                                                            <div class="online-time-pic"><img src="' + data[i]['image'] + '" onerror="this.src=\'{MOBI_PATH}/public/images/min/default-pic.png\'" />' + thetop + '</div>\
                                                            <div class="online-timeline"><em class="' + persent + '"></em></div>\
                                                            <div class="online-time-fonts"><span>' + data[i]['entity_relation'] + '</span></div>\
                                                        </a>\
                                                    </li>';
                                        }
                                    }
                                    listcon += '</ul></div>';
                                } else {                                    
                                    listcon = '<a href="javascript:;" onclick="setClick(\'onlinetime\', \'在线时长\')"><i class="qbbicons icon-homegroup"></i></a>';
                                }
                            }
                        }
                    } else {
                        listcon = '<i class="qbbicons icon-homegroup"></i>';
                    }
                    $('.home-icon').html(listcon);
                    $('.online-timeline').width(fullwidth);
                    setOnlineTime();
                }
            });
        });
        function setOnlineTime() {
            $('.online-time').find('li').each(function () {
                var size = $(this).find('.online-timeline em').attr("class");
                $(this).find('.online-timeline em').css('width', size + '%');
            });
        }
        function getPropertyCount(o){  
            var n, count = 0;  
            for(n in o){  
               if(o.hasOwnProperty(n)){  
                  count++;  
               }  
            }  
            return count;  
         }  
</script>
</body>
</html>