<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="MobileOptimized" content="240" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<title>健康告知</title>
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/common.css" type="text/css" />
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/style.css" type="text/css" />
</head>
<body>
<div class="mainCon">
<div class="agreeMentCon">
<h1>健康告知（即不能投保的客户人群）</h1>
<p class="agreep2">1. 被保人存在出生时体重小于2.5公斤（双胞胎或多胞胎除外），或曾有早产、难产、窒息、产伤、新生儿缺血缺氧性脑病等情况。</p>
<p class="agreep2">2. 被保人患有残疾及功能障碍、心血管疾病、神经及精神疾病、恶性肿瘤、糖尿病、肝硬化、肾病、白血病、艾滋病等情况。</p>
</div>
</body>
</html>