<!doctype html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="MobileOptimized" content="240" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<title>泰康e顺（2014）意外伤害保险条款</title>
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/common.css" type="text/css" />
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/style.css" type="text/css" />
</head>
<body>
<div class="mainCon">
<div class="agreeMentCon">
  <h1>泰康e顺（2014）意外伤害保险条款</h1>
  <p class="agreep2" style="padding-bottom:15px;">在本条款中，“您”指投保人，“我们”、“本公司”均指在电子保险单上签章的泰康人寿保险股份有限公司的分公司，“本合同”指您与我们之间订立的“泰康e顺（2014）意外伤害保险合同”，“被保险人”指本合同的被保险人，投保人、被保险人的姓名在电子保险单上载明。</p>
  <p class="agreep1">1.	您与我们订立的合同</p>
  <p class="agreep2">1.1	合同构成                                                                       	本合同是您与我们约定保险权利义务关系的协议，包括本保险条款、电子保险单或者其他保险凭证、电子投保单、与本合同有关的投保文件、合法有效（见8.1）的声明、批注、批单及其他您与我们共同认可的书面或者电子协议。</p>
  <p class="agreep2">1.2	合同成立及生效                                                                        	您提出保险申请且我们同意承保，本合同成立。
本合同的成立日、生效日以电子保险单记载的日期为准。保险费约定交纳日（见8.2）依据本合同的生效日为基础进行计算。
</p>
  <p class="agreep2">1.3	投保年龄	投保年龄指您投保时被保险人的年龄，以周岁（见8.3）计算。</p>
  
  
   <p class="agreep1">2.	我们提供的保障</p>
  <p class="agreep2">2.1	保险金额	本合同责任一和责任二的保险金额由您在投保时分别与我们约定，并在电子保险单上载明。</p>
  <p class="agreep2">2.2	未成年人身故保险金限制	为未成年子女投保的人身保险，因被保险人身故给付的身故保险金总和最高不得超过国务院保险监督管理机构规定的限额，身故保险金总和的约定也不得超过前述限额。</p>
  <p class="agreep2">2.3  	保险期间                                                                        	本合同的保险期间为1年，自本合同生效日零时开始，至电子保险单上载明的保险期间期满日的24时止。本合同保险期间届满，您若继续投保本保险，则新续保合同的保险期间为新的保险期间，有效期为1年，自新续保合同的生效日零时开始，至新续保合同的保险期间期满日24时止。每次续保，均依此类推。</p>
  <p class="agreep2">2.4	保险责任                                                                        	在本合同保险期间内，我们承担下列保险责任：</p>
  <p class="agreep2">责任一：
意外身故保险金	被保险人遭受意外伤害（见8.4）事故，并因该次意外伤害事故直接导致被保险人在该意外伤害事故发生之日起180日内身故，我们按责任一的保险金额向意外身故保险金受益人给付意外身故保险金，本合同终止。
如果在给付意外身故保险金前，我们已依本合同向意外伤残保险金受益人给付过意外伤残保险金，则在给付意外身故保险金时，需扣除已给付的意外伤残保险金。
</p>
  <p class="agreep2">责任二：被保险人遭受意外伤害事故，并因该次意外伤害事故直接导致被保险人在该意外
伤害事故发生之日起180日内发生本合同所附“人身保险伤残评定标准（行业标准）”（见附件1）所述伤残项目，我们根据该伤残项目对应的前述标准中列明的</p>
  <p class="agreep2">责任二：
意外伤残保险金
                                                                      	被保险人遭受意外伤害事故，并因该次意外伤害事故直接导致被保险人在该意外
伤害事故发生之日起180日内发生本合同所附“人身保险伤残评定标准（行业标准）”（见附件1）所述伤残项目，我们根据该伤残项目对应的前述标准中列明的伤残等级按“人身保险伤残程度与保险金给付比例表”（见附件2）所对应的给付比例乘以责任二的保险金额向意外伤残保险金受益人给付意外伤残保险金。
如自意外伤害事故发生之日起180日治疗仍未结束的，则按该意外伤害事故发生之日起第180日的身体情况进行伤残评定，并据此向意外伤残保险金受益人给付意外伤残保险金。
被保险人因不同意外伤害导致同一部位和性质的伤残，而伤残项目所属等级不同时，以较严重项目的意外伤残保险金给付为准：若后次伤残项目所属等级较严重，则需扣除前次已给付的意外伤残保险金；若前次伤残项目所属等级较严重，则不再给付后次的意外伤残保险金。
我们按本合同约定累计给付的意外伤残保险金数额之和以责任二的保险金额为限。如果累计给付的意外伤残保险金数额之和达到责任二的保险金额，我们不再给付意外伤残保险金。
</p>
  <p class="agreep2">我们按本合同约定累计给付的各项保险金数额之和以责任一的保险金额为限。如果累计给付的各项保险金数额之和达到责任一的保险金额，本合同终止。</p>
  <p class="agreep2">2.5	责任免除	因下列情形之一导致被保险人身故或者伤残的，我们不承担给付保险金的责任：
<p>（1）	投保人对被保险人的故意杀害、故意伤害；</p>
<p>（2）	被保险人故意犯罪或者抗拒依法采取的刑事强制措施；</p>
<p>（3）	被保险人醉酒（见8.5），主动吸食或者注射毒品（见8.6）；</p>
<p>（4）	被保险人酒后驾驶（见8.7）、无合法有效驾驶证驾驶（见8.8），或者驾驶无合法有效行驶证（见8.9）的机动车（见8.10）；</p> 
<p>（5）	被保险人妊娠（含宫外孕）、流产、分娩（含剖宫产）；</p>
<p>（6）	被保险人药物过敏、医疗事故（见8.11）、精神和行为障碍（以世界卫生组织颁布的《疾病和有关健康问题的国际统计分类（ICD-10）》为准）；</p>
<p>（7）	被保险人未遵医嘱，私自使用药物，但按使用说明的规定使用非处方药（见8.12）不在此限；</p>
<p>（8）	被保险人从事下列高风险运动：潜水（见8.13）、跳伞、攀岩（见8.14）、驾驶滑翔机或者滑翔伞、探险（见8.15）、摔跤、武术比赛（见8.16）、特技表演（见8.17）、赛马、赛车；</p>
<p>（9）	战争、军事冲突、暴乱或者武装叛乱；</p> 
<p>（10）	核爆炸、核辐射或者核污染。</p>
因上述第（1）项情形导致被保险人身故的，本合同终止，我们向意外身故保险金受益人给付现金价值（见8.18）。
因上述其他情形导致被保险人身故的，本合同终止，我们向您退还现金价值。
因上述情形之一导致被保险人伤残的，我们不承担给付保险金的责任，本合同继续有效。
</p>
 
  
  
  
   <p class="agreep1">3.	保险金的申请</p>
  <p class="agreep2">3.1  	受益人                                                                          	您或者被保险人可以指定一人或者多人为意外身故保险金受益人。意外身故保险金受益人为多人时，可以确定受益人顺序和受益份额；如果没有确定份额，各意外身故保险金受益人按照相等份额享有受益权。
被保险人为无民事行为能力人或者限制民事行为能力人的，可以依法由其监护人指定意外身故保险金受益人。
您或者被保险人在被保险人身故前可以变更意外身故保险金受益人、受益顺序或者受益份额，并书面通知我们。我们收到变更的书面通知后，将及时在电子保险单或者其他保险凭证上批注或者附贴批单，变更的生效时间以批注或者批单中载明的时间为准。
您在指定和变更意外身故保险金受益人、受益顺序或者受益份额时，必须经过被保险人同意。
被保险人身故后，有下列情形之一的，意外身故保险金作为被保险人的遗产，由我们依照《中华人民共和国继承法》的规定履行给付意外身故保险金的义务：
<p>（1）	没有指定意外身故保险金受益人的，或者意外身故保险金受益人指定不明无法确定的；</p>
<p>（2）	意外身故保险金受益人先于被保险人身故，没有其他意外身故保险金受益人的；</p>
<p>（3）	意外身故保险金受益人依法丧失受益权或者放弃受益权，没有其他意外身故保险金受益人的。
意外身故保险金受益人与被保险人在同一事件中身故，且不能确定身故先后顺序的，推定意外身故保险金受益人身故在先。
受益人故意造成被保险人死亡、伤残、疾病的，或者故意杀害被保险人未遂的，该受益人丧失受益权。
除另有指定外，意外伤残保险金受益人为被保险人本人。</p>
</p>
  <p class="agreep2">3.2  	保险事故通知                                                                    	您或者受益人知道保险事故发生后应当在10日内通知我们。故意或者因重大过失未及时通知，致使保险事故的性质、原因、损失程度等难以确定的，我们对无法确定的部分不承担给付保险金的责任，但我们通过其他途径已经及时知道或者应当及时知道保险事故发生或者虽未及时通知但不影响我们确定保险事故的性质、原因、损失程度的除外。</p>
  <p class="agreep2">3.3  	保险金申请                                                                      	在申请保险金时，请按照下列方式办理：</p>
  <p class="agreep2">意外伤残保险金申请                                                                      	意外伤残保险金受益人作为申请人须填写领取保险金申请书，并须提供下列证明和资料的原件：
<p>（1）	意外伤残保险金受益人的有效身份证件（见8.19）；</p>
<p>（2）	由双方认可的医疗机构或者有资质的鉴定机构（见8.20）根据《人身保险伤残评定标准》出具的被保险人伤残程度的资料或者身体伤残程度评定书；</p>
<p>（3）	所能提供的与确认保险事故的性质、原因、伤害程度等有关的其他证明和资料。</p> 
</p>
  <p class="agreep2">意外身故保险金申请	意外身故保险金受益人作为申请人须填写领取保险金申请书，并须提供下列证明和资料的原件：
<p>（1）	意外身故保险金受益人的有效身份证件；</p>
<p>（2）	国务院卫生行政部门规定的医疗机构、公安部门或者其他有权机构出具的被保险人的死亡证明；</p>
<p>（3）	所能提供的与确认保险事故的性质、原因等有关的其他证明和资料。</p>
</p>
  <p class="agreep2">特别注意事项	以上证明和资料不完整的，我们将及时一次性通知受益人补充提供有关的证明和资料。
委托他人领取保险金时，受托人还必须提供本人的有效身份证件及委托人亲笔签名的授权委托书。
保险金作为被保险人遗产时，继承人还必须提供可证明其合法继承权的相关权利文件。
受益人或者继承人为无民事行为能力人或者限制民事行为能力人时，由其合法监护人代其申请领取保险金，其合法监护人还必须提供受益人或者继承人为无民事行为能力人或者限制民事行为能力人的证明和监护人具有合法监护权的证明。
如果意外伤残保险金受益人已按本合同3.3条的约定向我们书面申领意外伤残保险金，但在实际领取意外伤残保险金前被保险人身故，我们将按本合同2.4条的约定向意外伤残保险金受益人给付意外伤残保险金，然后再按本合同2.4条的约定向意外身故保险金受益人给付意外身故保险金。如果意外伤残保险金受益人为被保险人本人，意外伤残保险金将作为被保险人的遗产，由我们向被保险人的合法继承人给付。
如果意外伤残保险金受益人提出申领意外伤残保险金书面申请之前被保险人身故，我们将按本合同2.4条的约定向意外身故保险金受益人给付意外身故保险金，而不再承担本合同约定的给付意外伤残保险金的责任。
</p>
  <p class="agreep2">3.4	保险金给付	我们在收到领取保险金申请书及本合同约定的证明和资料后，将在5日内作出核定；情形复杂的，在30日内作出核定。对属于保险责任的，我们在与受益人达成给付保险金的协议后10日内，履行给付保险金义务。
我们未及时履行前款约定义务的，对属于保险责任的，除支付保险金外，应当赔偿受益人因此受到的利息损失。利息按照我们确定的利率按单利计算，且我们确定的利率不低于中国人民银行公布的金融机构人民币活期存款基准利率。
对不属于保险责任的，我们自作出核定之日起3日内向受益人发出拒绝给付保险金通知书并说明理由。
我们在收到领取保险金申请书及有关证明和资料之日起60日内，对给付保险金的数额不能确定的，根据已有证明和资料可以确定的数额先予支付；我们最终确定给付保险金的数额后，将支付相应的差额。
</p>
  <p class="agreep2">3.5 	诉讼时效                                                                  	权利人向我们申请给付保险金的诉讼时效期间为2年，自其知道或者应当知道保险事故发生之日起计算。</p>
  
  
  
   <p class="agreep1">4.	保险费的交纳</p>
  <p class="agreep2">4.1	保险费的交纳                                                                    	本合同的交费方式由您在投保时与我们约定，保险费按照保险金额和约定的费率标准确定，并在电子保险单上载明。
分期支付保险费的，在交纳首次保险费后，您应当在每个保险费约定交纳日交纳其余各期的保险费。
</p>
  <p class="agreep2">4.2	宽限期	分期支付保险费的，如果您到期未交纳该期应交纳的保险费，则自保险费约定交纳日的次日零时起10日为交纳保险费的宽限期。宽限期内发生的保险事故，我们仍承担保险责任，但在给付保险金时会扣除您在保险事故发生前未交纳的期交保险费，其数额以保险合同中载明的每期保险费数额为准。
如果您在宽限期内未交纳保险费，则本合同自宽限期满日的24时起效力中止，但本合同另有约定的除外。
</p>
  <p class="agreep2">4.3	续保	如果我们同意您按本合同约定的承保条件继续投保本合同，且在本合同期满日前未收到您停止继续投保本合同的书面申请，我们将为您自动办理相关续保手续，新续保的合同自本合同期满日次日零时起生效，有效期为1年。每次续保，均按前述规则类推。
如果我们做出不同意您继续投保本合同决定的，我们将向您发出通知，本合同自期满日的24时起效力终止。
如果我们同意您按本合同约定的承保条件继续投保本合同的，则自本合同期满日次日起10日内为新续保合同交费宽限期。宽限期内发生保险事故的，我们承担保险责任，但在给付保险金时会扣除您欠交的保险费，其数额以新续保合同的保险单中载明的保险费数额为准。如果宽限期结束之后您仍未交纳新续保合同的保险费，则我们视同您自动放弃继续投保本合同的权利，本合同自宽限期期满日的24时起效力终止。
投保人为被保险人继续投保本合同时，我们有权调整本合同的保险费，但须经中国保险监督管理机构备案。
我们接受继续投保本合同的被保险人的年龄最高不超过64周岁。
</p>
  
  
   <p class="agreep1">5.	合同效力的中止及恢复</p>
  <p class="agreep2">5.1	效力中止	在本合同效力中止期间，我们不承担保险责任。</p>
  <p class="agreep2">5.2	效力恢复	本合同效力中止之日起至合同期满日，您可以申请恢复合同效力。经您与我们协商并达成协议，在您交纳本合同约定的保险费之日的次日零时起，本合同效力恢复。您与我们未就本合同效力恢复达成一致的，本合同效力不恢复。</p>
  
  
  
   <p class="agreep1">6.	合同解除</p>
  <p class="agreep2">6.1	您解除合同的手续及风险	如果被保险人未发生保险事故，且您要求解除本合同，请填写解除合同申请书并向我们提供您的有效身份证原件。
自我们收到解除合同申请书时起，本合同终止，我们自收到解除合同申请书之日起30日内向您退还现金价值。
您解除合同会遭受一定损失。
</p>
  
  
  
   <p class="agreep1">7.	其他需要关注的事项</p>
  <p class="agreep2">7.1	明确说明与如实告知	订立本合同时，我们应当向您明确说明本合同的内容。对保险条款中免除我们责任的条款，我们在订立合同时应当在电子投保单、电子保险单或者其他保险凭证上作出足以引起您注意的提示，并对该条款的内容以书面或者口头形式向您作出明确说明，未作提示或者明确说明的，该条款不产生效力。
我们会就您和被保险人的有关情况提出书面询问，您应当如实告知。
如果您故意或者因重大过失未履行前款约定的如实告知义务，足以影响我们决定是否同意承保或者提高保险费率的，我们有权解除本合同。合同解除权自我们知道有解除事由之日起超过30日不行使而消灭。
如果您故意不履行如实告知义务，对于本合同解除前发生的保险事故，我们不承担给付保险金的责任，并不退还保险费。
如果您因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，对于本合同解除前发生的保险事故，我们不承担给付保险金的责任，但应当向您退还保险费。
我们在合同订立时已经知道您未如实告知的情况的，我们不得解除合同；发生保险事故的，我们承担给付保险金的责任。
您通过我们同意或者认可的网站向我们在线提交的电子信息与您向我们提交的书面文件具有相同的法律效力。
</p>
  <p class="agreep2">7.2	年龄性别错误	您在申请投保时，应将与有效身份证件相符的被保险人的出生日期和性别在电子投保单上填明，如果发生错误按照下列方式办理：
您申报的被保险人年龄不真实，并且其真实年龄不符合本合同约定投保年龄限制的，我们有权解除本合同，合同解除权自我们知道有解除事由之日起超过30日不行使而消灭。对于解除本合同的，本合同自解除之日起终止，我们向您退还现金价值。对于本合同解除前发生的保险事故，我们不承担给付保险金的责任。
</p>
  <p class="agreep2">7.3	职业或者工种的确定与变更	我们将按照事先公布的职业分类表确定被保险人的职业分类，您可以通过我们的网站、服务热线或者服务场所工作人员查询到此表。被保险人变更其职业或者工种时，您应于10日内以书面形式通知我们。被保险人所变更的职业或者工种依照我们职业分类在本合同拒保范围内的，我们对该被保险人所承担保险责任自接到通知之日起终止，并按约定退还现金价值。 
被保险人的职业或者工种变更之后，依照职业分类表其危险程度增加而未依前项约定通知我们而发生保险事故的，若被保险人职业或者工种变更之后在本合同拒保范围内的，我们不承担给付保险金责任，并按本合同约定退还现金价值。
</p>
  <p class="agreep2">7.4	合同内容变更                                                                    	在本合同有效期内，经您与我们协商一致，可以变更本合同的有关内容。变更本合同的，应当由我们在电子保险单或者其他保险凭证上批注或者附贴批单，或者由您与我们订立书面的变更协议。
您通过我们同意或者认可的网站对本合同进行变更，视为您的书面申请，您向我们在线提交的电子信息与您向我们提交的书面文件具有相同的法律效力。
</p>
  <p class="agreep2">7.5	联系方式变更	为了保障您的合法权益，您的住所、通讯地址或者电话等联系方式变更时，请及时以书面形式或者双方认可的其他形式通知我们。如果您未以书面形式或者双方认可的其他形式通知我们，我们按本合同载明的最后住所或者通讯地址发送的有关通知，均视为已送达给您。</p>
  <p class="agreep2">7.6	争议处理	本合同履行过程中，双方发生争议时，可以从下列两种方式中选择一种争议处理方式：
<p>（1）	因履行本合同发生的争议，由双方协商解决，协商不成的，提交_______仲裁委员会仲裁；</p>
<p>（2）	因履行本合同发生的争议，由双方协商解决，协商不成的，依法向人民法院起诉。
</p></p>
  <p class="agreep2">7.7	保险事故鉴定	如果被保险人发生保险事故，您和我们均可以委托保险公估机构等依法设立的独立评估机构或者具有相关专业知识的人员，对保险事故进行评估和鉴定。</p>
  
   <p class="agreep1">8.	释义</p>
  <p class="agreep2">8.1	合法有效	本合同所指合法有效均以中华人民共和国法律、法规、行政法规、地方性法规、行政规章及有关规范性法律文件的规定为判定依据。</p>
  <p class="agreep2">8.2	保险费约定交纳日	保险合同生效日在每月、每季、每半年或者每年（根据交费方式确定）的对应日。如果当月无对应的同一日，则以该月最后一日为对应日。</p>
  <p class="agreep2">8.3	周岁	指按有效身份证件中记载的出生日期计算的年龄，自出生之日起为零周岁，每经过一年增加一岁，不足一年的不计。例如，出生日期为2000年9月1日，2000年9月1日至2001年8月31日期间为0周岁，2001年9月1日至2002年8月31日期间为1周岁，依此类推。</p>
  <p class="agreep2">8.4	意外伤害	指外来的、突然的、非本意的、非疾病的使被保险人身体受到伤害的客观事件，并以此客观事件为直接且单独原因导致被保险人身体蒙受伤害或者身故，猝死、自杀以及自伤均不属于意外伤害。
猝死指表面健康的人因潜在疾病、机能障碍或者其他原因在出现症状后24小时内发生的非暴力性突然死亡。猝死的认定以医院的诊断和公安部门的鉴定为准。
</p>
  <p class="agreep2">8.5	醉酒	指发生事故时被保险人每百毫升血液中的酒精含量大于或者等于80毫克。</p>
  <p class="agreep2">8.6	毒品	指中华人民共和国刑法规定的鸦片、海洛因、甲基苯丙胺（冰毒）、吗啡、大麻、可卡因以及国家规定管制的其他能够使人形成瘾癖的麻醉药品和精神药品，但不包括由医生开具并遵医嘱使用的用于治疗疾病但含有毒品成分的处方药品。</p>
  <p class="agreep2">8.7	酒后驾驶
	指经检测或者鉴定，发生保险事故时被保险人每百毫升血液中的酒精含量达到或者超过一定的标准，是否达到前述标准由公安机关交通管理部门依据《道路交通安全法》的规定认定，我们根据公安机关交通管理部门的认定确认被保险人是否属于酒后驾驶。
</p>
  <p class="agreep2">8.8	无合法有效驾驶证驾驶	指下列情形之一：
<p>（1）	没有取得中华人民共和国有关主管部门颁发或者认可的驾驶资格证书；
</p><p>（2）	驾驶与合法有效驾驶证准驾车型不相符合的车辆；</p>
<p>（3）	持审验不合格的驾驶证驾驶；</p>
<p>（4）	在驾驶证有效期内未按照中华人民共和国法律、行政法规的规定，定期对机动车驾驶证实施审验的；</p>
<p>（5）	驾驶证已过有效期的。</p>
</p>
  <p class="agreep2">8.9	无合法有效行驶证	指发生保险事故时没有按照公安机关交通管理部门机动车登记制度的规定进行登记并领取机动车行驶证或者临时通行牌证等法定证件。包括下列情形之一：
<p>（1）	未办理行驶证或者行驶证在申办过程中的；</p>
<p>（2）	机动车行驶证被依法注销登记的；</p>
<p>（3）	未在行驶证检验有效期内依法按时进行或者未通过机动车安全技术检验的。</p>
</p>
  <p class="agreep2">8.10	机动车	指以动力装置驱动或者牵引，上道路行驶的供人员乘用或者用于运送物品以及进行工程专项作业的轮式车辆。</p>
  <p class="agreep2">8.11	医疗事故	指医疗机构及其医务人员在医疗活动中，违反医疗卫生管理法律、行政法规、部门规章和诊疗护理规范、常规，过失造成患者人身损害的事故。</p>
  <p class="agreep2">8.12	非处方药	指在使用药品当时，由国务院药品监督管理部门公布的，不需要凭执业医师和执业助理医师处方，消费者可以自行判断、购买和使用的药品。</p>
  <p class="agreep2">8.13	潜水	指使用辅助呼吸器材在江、河、湖、海、水库、运河等水域进行的水下运动。</p>
  <p class="agreep2">8.14	攀岩	指攀登悬崖、楼宇外墙、人造悬崖、冰崖、冰山等运动。</p>
  <p class="agreep2">8.15	探险	指明知在某种特定的自然条件下有失去生命或者使身体受到伤害的危险，而故意使自己置身于其中的行为，如：江河漂流、登山、徒步穿越沙漠或者人迹罕至的原始森林等活动。</p>
  <p class="agreep2">8.16	武术比赛	指两人或者两人以上对抗性柔道、空手道、跆拳道、散打、拳击等各种拳术及使用器械的对抗性比赛。</p>
  <p class="agreep2">8.17	特技表演	指进行马术、杂技、驯兽等表演。</p>
  <p class="agreep2">8.18	现金价值	如果您选择一次性交费，本合同现金价值的计算公式为“P×（1-35%）× （1-n÷m）”，其中：P 为您已交纳的本合同保险费，m 指本合同保险期间内所包含的天数（不足一天的不计），n 指从本合同生效之日至本合同终止之日实际经过的天数（不足一天的不计）。
如果您选择分期交纳保险费，本合同现金价值的计算公式为：P×（1-35%）×（1-n÷m），其中：P 为您已交的最近一期保险费（简称当期保险费），m 指从当期保险费约定交纳日至下一期保险费约定交纳日之间所包含的天数（不足一天的不计），n 指从当期保险费约定交纳日至本合同终止之日实际经过的天数（不足一天的不计）。
</p>
  <p class="agreep2">8.19	有效身份证件	指由中华人民共和国政府主管部门规定的能够证明其身份的证件，如：居民身份证、军官证、警官证、士兵证、户口簿以及中华人民共和国政府主管部门颁发或者认可的有效护照或者其他身份证明文件。</p>
  <p class="agreep2">8.20	有资质的鉴定机构	指经中华人民共和国司法行政机关审核登记，依法取得《司法鉴定许可证》，且鉴定业务范围包含法医临床鉴定的司法鉴定机构。</p>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</div>

</body>
</html>