<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="MobileOptimized" content="240" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<title>投保须知</title>
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/common.css" type="text/css" />
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/style.css" type="text/css" />
</head>
<body>
<div class="mainCon">
<div class="agreeMentCon">
<h1>投保须知</h1>
<p class="agreep2">1、投保年龄：0岁（满30天）至17周岁（含）。该产品仅限给自己的子女投保</p>
<p class="agreep2">2、投保份数：1份</p>
<p class="agreep2">3、投保地区:除西藏、港澳台地区之外的中国大陆。</p>
<p class="agreep2">4、产品条款：本产品适用于《泰康e顺少儿重大疾病保险》条款、《泰康附加e顺意外医疗保险》条款</p>
<p class="agreep2">5、本产品保险费用由趣宝宝公司为您付款。</p>
<p class="agreep2">6、本产品最终解释权给泰康人寿版权所有。</p>
</div>
</body>
</html>