<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>趣宝宝空气净化器介绍</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=0.5, maximum-scale=2.0" />
<style>
*{
  margin:0;
  padding:0;
}
img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
</style>
</head>
<body>
<img src="{MOBI_PATH}/purifier/images/p4-jhq_01.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_02.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_03.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_04.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_05.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_06.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_07.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_08.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_09.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_10.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_11.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_12.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_13.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_14.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_15.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_16.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_17.jpg">
<img src="{MOBI_PATH}/purifier/images/p4-jhq_18.jpg">
</body>
</html>