<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="MobileOptimized" content="240" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<title>{$title}</title>
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/common.css" type="text/css" />
<link rel="stylesheet"  href="{MOBI_PATH}/public/css/style.css" type="text/css" />
</head>
<body>
<!--头部文字-->
<div class="searchTop">
<a class="leftarrow" href="#" onClick="javascript:history.back();return false;"><img src="{MOBI_PATH}/public/images/searcharrow.png" width="10" height="17" alt=""/></a>
<h1>{$title}</h1>
</div>
<!--头部文字-->
<div class="mainCon" id="TabBox">
  <!--内容部分-->
  <div class="careCon bd">
      <!--内容部分1-->
      
    <ul>
      <div class="careCon1 mt44">
    <div class="careList">
      <ul>
          {loop $data $v}
        <li class="clearfix">
           <a href="{url('mobi2/recipe/getContent')}&id={$v['id']}&type={$type}&index={$index}">
          <div class="leftPic"><img src={if $v['thumb'] }"{$v['thumb']}"{else}"{MOBI_PATH}/public/images/avatar.jpg"{/if}  width="100" height="75" alt=""/></div>
          <div class="rightTxt">
            <p class="p1">{if mb_strlen($v["title"],'utf-8')<=10}{$v["title"]}{else}{mb_substr($v["title"],0,10,'utf-8')}...{/if}</p>
            <p class="p2">{if mb_strlen($v["description"],'utf-8') <= 17}{$v["description"]}{else}{mb_substr($v["description"],0,17,'utf-8')}...{/if}</p>
            </div>
           </a>
          </li>
        {/loop}
        </ul>
      </div>
      </div>
      <!--内容部分1-->     
    </ul>
       
    
  </div>
    
</div>

</body>
</html>