<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用品清单</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{MOBI_PATH}/public/css/bootstrap.min.css">
<link rel="stylesheet" href="{MOBI_PATH}/public/css/uselist.css">
</head>

<body>

<!--<header>
    <a href="{url('mobi/supply/index')}"><i class="glyphicon glyphicon-menu-left"></i></a>
    <div class="uselist-font"><span>用品清单</span></div>
    <div class="uselist-action">
        <a href="{url('mobi/supply/mine')}" class="myuselist">我的清单</a><sup>{$pick_count}</sup>
    </div>
</header>-->

<input type="hidden" name="userlist-more-pages" id="userlist-more-pages" value="1" />
<section class="section2 pt34" data-title="用品专题">
    {loop $list['data'] $v}
	<a href="{url('mobi/topic/view',array('id'=>$v['id']))}"><img src="{$v['thumb']}"><span>{$v['title']}</span></a>
    {/loop}
</section>

<script src="{MOBI_PATH}/public/js/jquery.min.js"></script>
<script src="{MOBI_PATH}/public/js/uselist.js"></script>
<script src="{MOBI_PATH}/public/js/main.js"></script>
<script>


$(function () {
    setEvent('.uselist-action,.section2');
	// 滚到底部加载更多
	loadpage (url, nowpagebox, showcontent, returnbox);
});

// 异步请求内容地址
var url = "{url('mobi/topic/list',array('uid'=>$uid))}";
var nowpagebox = '#userlist-more-pages';
var showcontent = '';
var returnbox = '.section2';

function loadpage (url, nowpagebox, showcontent, returnbox, extendsfunction) {
    // 滚到底部加载更多
    var flag = 0;
    $(window).scroll(function(){
        if($(window).scrollTop() == $(document).height() - $(window).height()){
            if (flag != 1) {
                flag = 1;
                loading();

                //获得当前频道页数
                var pages = Number($(nowpagebox).val()) + 1;

                $.get(url,{page:pages,start:{$start},close:{$close}},function(result){
                    // 模拟result 有数据和无数据的结果             
                    if (result.data) {           // 判断是否为空
                        var showcontent = "";
                        var countsize = "";     // 数据条数
                        var list = result.data;
                        //console.log(list);
                        for (var i=0; i < list.length; i++) {
                            showcontent += '<a href="?s=mobi&c=topic&a=view&id='+list[i].id+'"><img src="'+list[i].thumb+'"><span>' + list[i].title +'</span></a>';
                        }
                        $("" + returnbox).append(showcontent);
                        $(nowpagebox).val(pages);
                        flag = 0;
                    } else {
                        flag = 1;
                        if (extendsfunction == 1) {
                            getcallback();
                        }
                    }
                    $('.loading').remove();
                });
            }
        }
    });
}
</script>
</body>
</html>