<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
</head>
<body>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="{url('try/express/index')}" class="on"><em>{lang('a-list')}</em></a><span>|</span>
        {if admin_auth($userinfo['roleid'], 'express-add')}<a href="{url('try/express/one')}"><em>{lang('a-add')}</em></a><span>|</span>{/if}
    </div>
    <div class="bk10"></div>
    <div class="explain-col">
        <!--<form action="" method="get">-->
            <!--<input type="hidden" name="s" value="admin">-->
            <!--<input type="hidden" name="c" value="express">-->
            <!--<input type="hidden" name="a" value="index">-->
            <!--<input type="submit" value="查询">-->
        <!--</form>-->
    </div>
</div>

<div class="table-list">
    <table width="100%">
        <thead>
        <tr>
            <th width="40"></th>
            <th>用户</th>
            <th>申请人</th>
            <th>手机</th>
            <th>地址</th>
            <th>邮编</th>
            <th>默认</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $data['_data']['rows'] $v}
        <tr>
            <td><input type="checkbox" name="id[]" value="{$v['AddressId']}"></td>
            <td><a href="{url('try/proposor/one',array('id'=>$v['uid']))}">{$v['nick']}</a></td>
            <td>{$v['applyName']}</td>
            <td>{$v['mobile']}</td>
            <td>{$v['area']}<br/>{$v['desarea']}</td>
            <td>{$v['areacode']}</td>
            <td>{$v['isDefault']}</td>
            <td><a href="{url('try/express/one',array('id'=>$v['AddressId']))}">查看</a></td>
        </tr>
        {/loop}
        </tbody>
        <tfoot>
        <tr>
            <td><input type="checkbox" name="chkAll" class="chkAll"> </td>
            <td><input type="button" value="删除" class="delAll" data-url="{url('try/express/del')}">
                <input type="button" value="禁用" class="hideAll" data-url="{url('try/express/set',array('status'=>0))}">
                <input type="button" value="启用" class="showAll" data-url="{url('try/express/set',array('status'=>1))}">
            </td>
            <td colspan="6">{$data['pagelist']}</td>
        </tr>
        </tfoot>
    </table>
</div>
<script>
    $(function() {

        //批量选择
        $('.chkAll').on('click',function() {
            $(':checkbox').not(':last').attr('checked', this.checked);
        });
        //批量设置
        $('.delAll,.hideAll,.showAll').on('click',function(){
            var chk = [],tmp,chks,k=0;
            $(':checked').not('.chkAll').each(function(i,e){
                tmp = $(e).attr('value');
                if(tmp != null && tmp !='' && tmp != undefined ) {
                    chk[k] = tmp;
                    k++;
                }
            });
            if(chk.length>1){
                chks = chk.join(',');
            }else{
                chks =chk[0];
            }
//            console.log(chks);
            $.getJSON($(this).data('url'),{'ids':chk.join(',')},function(json){
                alert(json.info);
                if(json.code){
                    location.href='';
                }
            })
        });

    })
</script>
</body>
</html>