<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="MobileOptimized" content="240" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<title>吃喝专题</title>
<link rel="stylesheet"  href="care/css/common.css" type="text/css" />
<link rel="stylesheet"  href="care/css/style.css" type="text/css" />
</head>
<body>
<div class="mainCon">
<div class="special">
<h1>如何保证母乳喂养的成功</h1>
 <p class="p3">
      <span>母乳喂养</span>
      <span>初乳</span>
      </p>
 <div class="specialpic"><img src="care/images/eatpic.jpg" width="100%" height="100%" alt=""/></div> 
 <div class="specialtxt">“三早”是指孩子出生后要早吸吮、早接触、早开奶，这是母乳喂养成功的保证。“三早”是指孩子出生后要早吸吮、早接触、早开奶，这是母乳喂养成功的保证。“三早”是指孩子出生后要早吸吮、早接触、早开奶，这是母乳喂养成功的保证。“三早”是指孩子出生后要早吸吮、早接触、早开奶，这是母乳喂养成功的保证。</div>  
</div>
<!---->
 <div class="relatedbox clearfix">
 <span class="floatleft">相关阅读</span>
 <span class="floatright">
   <a href="#" class="relatedbtn">母乳喂养</a>
   <a href="#" class="relatedbtn">初乳</a>
  </span>
 </div>
 <div class="relatedList">
 <ul>
 <li><span class="dot"></span><a href="#">如何保证母乳喂养的成功</a></li>
 <li><span class="dot"></span><a href="#">如何保证母乳喂养的成功</a></li>
 <li><span class="dot"></span><a href="#">如何保证母乳喂养的成功</a></li> 
 </ul>
 </div>
</div>
</body>
</html>